@using BestMovies.Shared.Dtos.Movies
@using BestMovies.WebApp.Helpers
@using BestMovies.WebApp.Repositories
@using System.Globalization

<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="d-flex flex-column justify-start gap-2 px-8 py-4" Style="overflow-y: auto;">

            <MudImage Class="rounded" ObjectFit="@ObjectFit.Cover" Height="400" Src="@($"api/movies/{MovieId}/image?size=original")" Alt="Movie Image"/>

            <div class="d-flex flex-column justify-start gap-1">
                @if (_movieDetails is null)
                {
                    <MudSkeleton Animation="Animation.Wave" Width="80%" Height="60px"/>
                    <MudSkeleton Animation="Animation.Wave" Width="30%" Height="20px"/>
                }
                else
                {
                    <MudText Typo="Typo.h3" Align="Align.Center"> @_movieDetails.Title </MudText>
                }
            </div>

            <div class="d-flex flex-row flex-wrap justify-center align-start gap-6">
                @if (_movieDetails is not null)
                {
                    <div class="d-flex flex-column justify-center align-center mr-6 rounded border-solid">
                        <MudText Typo="Typo.button" Align="Align.Start">@_movieDetails.ReleaseDate?.ToString("dd MMM yyyy")</MudText>
                        <MudText Typo="Typo.overline">Release date</MudText>
                    </div>

                    <div class="d-flex flex-column justify-center align-center">
                        <MudText Typo="Typo.button">@DisplayHelper.DisplayValue(_movieDetails.VoteAverage, _culture)</MudText>
                        <MudText Typo="Typo.overline">TMDB Rating</MudText>
                    </div>
                    
                    <div class="d-flex flex-column justify-center align-center">
                        <MudText Typo="Typo.button">1023</MudText>
                        <MudText Typo="Typo.overline">Watched</MudText>
                    </div>

                    <div class="d-flex flex-column justify-center align-center">
                        <MudText Typo="Typo.button">123 </MudText>
                        <MudText Typo="Typo.overline">Reviews</MudText>
                    </div>
                }
            </div>


            <MudDivider FlexItem="true"/>

            <div class="d-flex flex-column justify-start gap-1">
                <MudText Typo="Typo.h6" Align="Align.Start">Description</MudText>

                @if (_movieDetails is null)
                {
                    <MudSkeleton Class="rounded" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="200px"/>
                }
                else
                {
                    <MudText Typo="Typo.body1" Align="Align.Start"> @_movieDetails.Description </MudText>
                }
            </div>

            <MudDivider FlexItem="true"/>

            <div class="d-flex flex-column justify-start gap-1">
                <MudText Typo="Typo.h6" Align="Align.Start">Genre</MudText>

                @if (_movieDetails is null)
                {
                    <MudSkeleton Class="rounded" Animation="Animation.Wave" SkeletonType="SkeletonType.Rectangle" Height="50px"/>
                }
                else
                {
                    <div class="d-flex flex-row flex-wrap gap-2 justify-center px-4 pb-2" style="overflow-x: auto;">
                        @foreach (var genre in _movieDetails.Genres)
                        {
                            <MudChip>@genre</MudChip>
                        }
                    </div>
                }
            </div>
            
            <div class="d-flex flex-column justify-start gap-1">
                <MudText Typo="Typo.h6" Align="Align.Start">Actors</MudText>

                <div class="d-flex flex-row flex-wrap gap-2 justify-space-between px-4 pb-2" style="overflow-x: auto;">
                    @if (_movieDetails is null)
                    {
                        for (var i = 0; i < 5; i++)
                        {
                            <MudSkeleton Animation="Animation.Wave" SkeletonType="SkeletonType.Circle" Width="120px" Height="120px"/>
                        }
                    }
                    else
                    {
                        foreach (var actor in _movieDetails.Actors)
                        {
                            <div class="highlight-on-hover rounded pa-2">
                                <div class="d-flex flex-column justify-start align-center cursor-pointer" @onclick="() => OpenActorDetails(actor.Id)">
                                    <MudImage Class="mud-skeleton-circle" ObjectFit="@ObjectFit.Cover" ObjectPosition="ObjectPosition.Center" Height="120" Width="120" Src="@($"api/actors/{actor.Id}/image?size=w300")" Alt="@actor.Name"/>

                                    <MudText Typo="Typo.button">@actor.Name</MudText>
                                    <MudText Typo="Typo.overline">@actor.RoleName</MudText>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </MudContainer>
    </DialogContent>
</MudDialog>

@code {

    [Inject]
    protected IMoviesRepository MoviesRepository { get; set; } = default!;
    
    [Inject]
    protected IDialogService DialogService { get; set; } = default!;

    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; } = null!;

    [Parameter]
    public int MovieId { get; set; }

    private readonly CultureInfo _culture = CultureInfo.InvariantCulture;
    private MovieDetailsDto? _movieDetails;

    protected override async Task OnInitializedAsync()
    {
        _movieDetails = await MoviesRepository.GetMovieDetails(MovieId);
    }

    private void OpenActorDetails(int actorId)
    {
        var parameters = new DialogParameters
        {
            { "ActorId", actorId }
        };
        var options = new DialogOptions { CloseOnEscapeKey = true, CloseButton = true, FullWidth = true, MaxWidth = MaxWidth.Small};
        DialogService.Show<ActorDetailsModal>(string.Empty, parameters, options);
    }
}